# Prod GitOps changes require explicit review
/gitops/envs/prod/                    @btilki
/gitops/applicationsets/              @btilki
/policies/kyverno/                    @btilki
/infra/terraform/envs/foundation/     @btilki
